 #draggable, #draggable1, #draggable2, #draggable3, #draggable4, #draggable5, #draggable6 { width: 50px; height: 50px; padding: 0.5em; background: yellow;}
  
 #droppable, #droppable1, #droppable2,#droppable3, #droppable4, #droppable5, #droppable6 { 
 		   width: 100px; height: 100px;padding: 0.5em; float: left; 
 		   margin: 10px; 	
 }
 .active {
 	border-color : blue;
 	background : grey;
 }  
 .hover {
 	border-color : red;
 	background : green;
 }
  
 .ui-widget-header {
 	background:#b9cd6d;
 	border: 1px solid #b9cd6d;
 	color: #FFFFFF;
 	font-weight: bold;
 }
 .ui-widget-content {
 	background: #cedc98;
 	border: 1px solid #DDDDDD;
 	color: #333333;
 }
 